<nav class="navbar fixed-bottom navbar-light bg-white border-top shadow-lg d-flex justify-content-around">
  <a routerLink="/verifikasi" routerLinkActive="active" class="text-center nav-link">
    <i class="bi bi-journal-check fs-4"></i><br />
    <small>Verifikasi</small>
  </a>
  <a routerLink="/rekap" routerLinkActive="active" class="text-center nav-link">
    <i class="bi bi-clipboard-data fs-4"></i><br />
    <small>Rekap</small>
  </a>
  <a routerLink="/profil-atasan" routerLinkActive="active" class="text-center nav-link">
    <i class="bi bi-person-circle fs-4"></i><br />
    <small>Profil</small>
  </a>
</nav>
