<ion-content class="forgot-password-content" fullscreen>
  <div class="forgot-wrapper">
    <div class="forgot-box">
      <h3 class="title">Reset Password</h3>
      <p class="subtitle">Masukkan email, token, dan kata sandi baru Anda.</p>

      <form [formGroup]="resetForm" (ngSubmit)="submit()">
        <!-- Email -->
        <ion-item lines="none" class="input-item">
          <ion-input
            formControlName="email"
            type="email"
            placeholder="Email"
            fill="clear">
          </ion-input>
        </ion-item>

        <!-- Token -->
        <ion-item lines="none" class="input-item">
          <ion-input
            formControlName="token"
            type="text"
            placeholder="Token"
            fill="clear">
          </ion-input>
        </ion-item>

        <!-- New Password -->
        <ion-item lines="none" class="input-item">
          <ion-input
            formControlName="password"
            type="password"
            placeholder="Password Baru"
            fill="clear">
          </ion-input>
        </ion-item>

        <!-- Confirm Password -->
        <ion-item lines="none" class="input-item">
          <ion-input
            formControlName="password_confirmation"
            type="password"
            placeholder="Konfirmasi Password"
            fill="clear">
          </ion-input>
        </ion-item>

        <!-- Submit button -->
        <ion-button
          expand="block"
          type="submit"
          class="submit-button"
          [disabled]="resetForm.invalid">
          Reset Password
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
