<ion-content class="forgot-password-content" fullscreen>
  <div class="forgot-wrapper">
    <div class="forgot-box">
      <h3 class="title">Lupa Password</h3>
      <p class="subtitle">Masukkan email untuk mereset kata sandi Anda.</p>

      <form [formGroup]="forgotForm" (ngSubmit)="submit()">
        <!-- Email -->
        <ion-item lines="none" class="input-item">
          <ion-input
            formControlName="email"
            type="email"
            placeholder="Email"
            fill="clear">
          </ion-input>
        </ion-item>

        <!-- Submit button -->
        <ion-button
          expand="block"
          type="submit"
          class="submit-button"
          [disabled]="forgotForm.invalid">
          Kirim Link Reset
        </ion-button>
      </form>

      <!-- Link ke reset-password -->
      <div class="mt-3">
        <p class="reset-link-text">
          Sudah punya token? 
          <a (click)="goToReset()" class="reset-link">Reset Password</a>
        </p>
      </div>
    </div>
  </div>
</ion-content>
