.layout {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.main-content {
  flex-grow: 1;
  margin-left: 250px; // Gunakan margin agar isi konten bergeser dari sidebar
  padding: 1rem;

  @media (max-width: 768px) {
    margin-left: 0; // Reset margin saat mobile
  }
}

.table-responsive {
  overflow-x: auto;

  table {
    min-width: 900px; // Biar tidak mepet di mobile dan tetap terbaca
  }
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.badge {
  font-size: 0.9rem;
}

.badge.bg-success {
  background-color: #28a745;
}

.badge.bg-warning {
  background-color: #ffc107;
}

.badge.bg-danger {
  background-color: #dc3545;
}
