<nav class="navbar fixed-bottom navbar-light bg-white border-top shadow-lg d-flex justify-content-around">
  <a routerLink="/status" routerLinkActive="active" class="text-center nav-link">
    <i class="bi bi-clipboard-check-fill fs-4"></i><br>
    <small>Status</small>
  </a>
  <a routerLink="/pengajuan-form" routerLinkActive="active" class="text-center nav-link">
    <i class="bi bi-file-earmark-plus-fill fs-4"></i><br>
    <small>Ajukan</small>
  </a>
  <a routerLink="/riwayat" routerLinkActive="active" class="text-center nav-link">
    <i class="bi bi-clock-history fs-4"></i><br>
    <small>Riwayat</small>
  </a>
  <a routerLink="/profil" routerLinkActive="active" class="text-center nav-link">
    <i class="bi bi-person-fill fs-4"></i><br>
    <small>Profil</small>
  </a>
</nav>
